:root{
    --primary: #0B090A;
    --secondary: #9D4EDD;
    --secondary-text: rgba(255,255,255,);
    --text-color: rgba(255,255,255,.6);
}


*{
    text-decoration: none;
    font-family: "Raleway",Arial,sans-serif;
    color: var(--text-color);
    margin: 0;
    background-color: var(--primary);
}
h3{
    font-size: 17px;
text-align: center;
}
h2{
    font-size: 10px;
    text-align: center;
}
.logo{
    color: var(--secondary-text);
}
.header{
    background-color: var(--primary);
    
}

.header .logo-box{
    display: flex;
    width: auto;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.header .logo-box .logo{
    display: flex;
    font-size: 30px;

}

.header .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    top: 0;
    left: 0;
   
}
.header .navbar a{
    margin-left: 2rem;
}
#busca-icon{
    cursor: pointer;
    margin-left: 2rem;
}

.active{
    display: none;
}


.product{
    width: 400px;
    height: 500px;
    text-align: center;
}

.product img{
    width: 300px;
    height: auto;
}
.product h3 {
    color: var(--text-color);
    font-size: 15px;
}
.product h4{
    color: var(--text-color);
    font-size: 13px;
    margin-top: 7px;
}



#shop-nav{
    height: 50px;
    align-items: flex-end;
}

#shop-header{
    height: 70px;
    align-items: flex-end;
}
#shop-box{
    background-color: var(--primary);
}


